@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&family=Unbounded:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .Hero_Button {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-lg tracking-widest text-gray-500 transition-all hover:border-primary/40 hover:text-primary/40 duration-200 ease-out hover:scale-105;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:text-primary/80 hover:border-primary/40;
  }
}
